<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClientList</title>
</head>
<body>
<div>
    <h1>Все клиенты</h1>
        {{#clients}}
            <div>
                <b>{{id}}</b>
                <span> - {{name}} - {{midName}} - {{lastName}} - {{passportNumber}}</span>
            </div>
        {{/clients}}
</div>
</body>
</html>