<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Пополнение</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<br><br><br>
<div align="center">
    <div class="card" style="width: 40rem; height: 30rem">
        <div align="left">

            <form action="/home">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <input type="submit" class="btn btn-light" value="Назад">
            </form>
            <br>
        </div>

        <br>
        <h3 align="center"><strong>Пополнение</strong></h3>
        <br>
        {{#message}}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {{/message}}
        <div class="container" style="width: 20rem">
            <form action="/deposit" method="post">
                <div class="form-group">
                    <label> Сумма: <input class="form-control" type="text" name="amount"placeholder="Сумма"/> </label>
                    <small id="help" class="form-text text-muted">Только сегодня! Пополнение бесплатно!</small>
                </div>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <input type="submit" class="btn btn-primary my-1" value="Пополнить">
            </form>
        </div>
        <br><br>
    </div>
</div>



</body>
</html>