<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div> Welcome to MiniBank! </div>
<a href="/login">Вход</a>
<a href="/registration">Регистрация</a>
</body>
</html>