<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<div class="container" align="center">
    <br><br><br>
    <div class="card" style="width: 40rem; height: 10rem" >

        <div><br> <h2>Добро пожаловать в MiniBank!</h2><br></div>

        <table>
            <th>
            <td>
                <form action="/login">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                    <input type="submit" class="btn btn-md btn-primary btn-block" value="Вход">
                </form>
            </td>
            </th>
            <th>
            <td>
                <form action="/registration">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                    <input type="submit" class="btn btn-md btn-primary btn-block" value="Регистрация">
                </form>
            </td>
            </th>

        </table>
    </div>
</div>

</body>


</html>