<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Произвести перевод</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
Пополнение
<div>
    <form action="/home">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit" value="Личный кабинет">
    </form>
</div>
<div align="center">
    <div align="left">
        {{#client}}
            <div>Hello, {{name}} {{midName}} {{lastName}}!</div>
        {{/client}}
    </div>
</div>
<br>
<div align="center">
    <form action="/transfer" method="post">
        Логин получателя: <input type="text" name="username" placeholder="Логин">
        Сумма: <input type="text" name="amount" placeholder="Сумма">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit" value="Перевести">
    </form>
</div>


</body>
</html>