<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Произвести перевод</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<br><br><br>
<div align="center">
    <div class="card" style="width: 40rem" >
        <div align="left">
            <form action="/home">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <input type="submit" class="btn btn-light" value="Назад">
            </form>
            <br>
        </div>
        <br>
        <h3 align="center"><strong>Перевод</strong><br></h3>

        {{#message}}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {{/message}}
        <br>
        <div align="center">
                <form action="/transfer" method="post">
                    <div class="form-group row" style="width: 30rem">
                        <label for="username">Логин получателя:</label><input
                            class="form-control" type="text" id="username" name="username"placeholder="Логин"/>
                        <label for="amountString">Сумма:</label> <input
                            class="form-control" type="text" id="amountString" name="amountString"placeholder="Сумма"/>
                        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                        <input type="submit" class="btn btn-primary my-1" value="Перевести">
                    </div>
                </form>
        </div>
        <div align="right">
            <a href="/allClients">Кому отправить деньги?</a>
        </div>
    </div>
</div>
</body>
</html>